/* import DM Sans from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
/* tailwind bases */
@tailwind base;
@tailwind components;
@tailwind utilities;

.ball.active {
  width: 30px;
  @apply duration-200 ease-in-out;
}
.ball {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #fff;
  @apply my-auto duration-200 ease-in-out bg-white rounded-full;
}

.ballParent {
  @apply duration-200 ease-in-out opacity-100;
}
.ballParent.inactive {
  @apply duration-200 ease-in-out opacity-40;
}
.bgAnim1 {
  @apply fixed ease-in-out bg-center bg-no-repeat bg-cover duration-400 blur-3xl;
  background-image: url(../img/projects/pfau_mit_monstera.jpg);
  opacity: 0;
}
.bgAnim2 {
  @apply fixed ease-in-out bg-center bg-no-repeat bg-cover duration-400 blur-3xl;
  background-image: url(../img/projects/flamingoschar.jpg);
  opacity: 0;
}
.bgAnim3 {
  @apply fixed ease-in-out bg-center bg-no-repeat bg-cover duration-400 blur-3xl;
  background-image: url(../img/projects/gruene_stiletto.jpg);
  opacity: 0;
}
.bgAnim4 {
  @apply fixed ease-in-out bg-center bg-no-repeat bg-cover duration-400 blur-3xl;
  background-image: url(../img/projects/tulpen_in_der_daemmerung.jpg);
  opacity: 0;
}

.bgAnim1.active, .bgAnim2.active, .bgAnim3.active, .bgAnim4.active{
  @apply ease-in-out duration-400;
  opacity: 0.4;
  background-size: 200%;
}
