/* import DM Sans from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
/* tailwind bases */
@tailwind base;
@tailwind components;
@tailwind utilities;

.ball.active {
  width: 30px;
  @apply duration-200 ease-in-out;
}
.ball {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #fff;
  @apply my-auto duration-200 ease-in-out bg-white rounded-full;
}

.ballParent {
  @apply duration-200 ease-in-out opacity-100;
}
.ballParent.inactive {
  @apply duration-200 ease-in-out opacity-40;
}
.bgAnim1 {
  @apply fixed duration-700 ease-in-out bg-center bg-no-repeat bg-cover blur-3xl;
  opacity: 0;
  background-size: 200%;
}
.bgAnim2 {
  @apply fixed duration-700 ease-in-out bg-center bg-no-repeat bg-cover blur-3xl;
  opacity: 0;
  background-size: 200%;
}
.bgAnim3 {
  @apply fixed duration-700 ease-in-out bg-center bg-no-repeat bg-cover blur-3xl;
  opacity: 0;
  background-size: 200%;
}
.bgAnim4 {
  @apply fixed duration-700 ease-in-out bg-center bg-no-repeat bg-cover blur-3xl;
  opacity: 0;
  background-size: 200%;
}
.bgAnim5 {
  @apply fixed duration-700 ease-in-out bg-center bg-no-repeat bg-cover blur-3xl;
  opacity: 0;
  background-size: 200%;
}
.bgAnim6 {
  @apply fixed duration-700 ease-in-out bg-center bg-no-repeat bg-cover blur-3xl;
  opacity: 0;
  background-size: 200%;
}
.bgAnim7 {
  @apply fixed duration-700 ease-in-out bg-center bg-no-repeat bg-cover blur-3xl;
  opacity: 0;
  background-size: 200%;
}
.bgAnim8 {
  @apply fixed duration-700 ease-in-out bg-center bg-no-repeat bg-cover blur-3xl;
  opacity: 0;
  background-size: 200%;
}
.bgAnim9 {
  @apply fixed duration-700 ease-in-out bg-center bg-no-repeat bg-cover blur-3xl;
  opacity: 0;
  background-size: 200%;
}
.bgAnim10 {
  @apply fixed duration-700 ease-in-out bg-center bg-no-repeat bg-cover blur-3xl;
  opacity: 0;
  background-size: 200%;
}

.bgAnim1.active, .bgAnim2.active, .bgAnim3.active, .bgAnim4.active, .bgAnim5.active, .bgAnim6.active, .bgAnim7.active, .bgAnim8.active, .bgAnim9.active, .bgAnim10.active {
  @apply duration-700 ease-in-out;
  opacity: 0.4;
  background-size: 200%;
}
